#image {
    margin: auto;
    height: 256px;
    width: 256px;
  background: 
  url('https://cdn.codeandweb.com/blog/2016/05/10/how-to-create-a-sprite-sheet/spritestrip.png') 0px 0px;
  }
  

#demo {
    z-index: 0;
    background-color: blue;
    height: 18em;
}